@model ChangeUserPasswordVM
<link href="~/css/profile/security.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<!-- Include SweetAlert CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
 
<div class="container-fluid px-4 mt-4">
 
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-md-4">
            <img width="400" height="400" src="~/images/reset-password.png" />

        </div>
        <div class="col-lg-6">
            <!-- Change password card-->
            <div class="card mb-4">
                <div class="card-header">Change Password</div>
                <div class="card-body">
                    <form asp-action="ChangePassword">
                        <!-- Form Group (current password)-->
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="mb-3">
                            <label class="font-weight-bold" asp-for="OldPassword">Old Password</label>
                            <input class="form-control" placeholder="Enter Old password" asp-for="OldPassword" />
                            <span asp-validation-for="OldPassword"></span>
                        
                        </div>
                        <!-- Form Group (new password)-->
                        <div class="mb-3">
                            <label class="font-weight-bold" asp-for="NewPassword">New Password</label>
                            <input class="form-control" placeholder="Enter New password" asp-for="NewPassword" />
                            <span asp-validation-for="NewPassword"></span>

                         
                        </div>
                        <!-- Form Group (confirm password)-->
                        <div class="mb-3">
                            <label class="font-weight-bold" asp-for="ConfirmPassword">Confirm Password</label>
                            <input class="form-control" placeholder="Confirm password" asp-for="ConfirmPassword" />
                            <span asp-validation-for="ConfirmPassword"></span>

                        </div>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>
            <!-- Security preferences card-->
            
        </div>
       @*  <div class="col-lg-4">
            <!-- Two factor authentication card-->
            <div class="card mb-4">
                <div class="card-header">Two-Factor Authentication</div>
                <div class="card-body">
                    <p>Add another level of security to your account by enabling two-factor authentication. We will send you a text message to verify your login attempts on unrecognized devices and browsers.</p>
                    <form>
                        <div class="form-check">
                            <input class="form-check-input" id="twoFactorOn" type="radio" name="twoFactor" checked="">
                            <label class="form-check-label" for="twoFactorOn">On</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" id="twoFactorOff" type="radio" name="twoFactor">
                            <label class="form-check-label" for="twoFactorOff">Off</label>
                        </div>
                        <div class="mt-3">
                            <label class="small mb-1" for="twoFactorSMS">SMS Number</label>
                            <input class="form-control" id="twoFactorSMS" type="tel" placeholder="Enter a phone number" value="555-123-4567">
                        </div>
                    </form>
                </div>
            </div>
           <!-- Delete account card-->
            <div class="card mb-4">
                <div class="card-header">Delete Account</div>
                <div class="card-body">
                    <p>Deleting your account is a permanent action and cannot be undone. If you are sure you want to delete your account, select the button below.</p>
                    <button class="btn btn-danger-soft text-danger" type="button">I understand, delete my account</button>
                </div>
            </div> 
        </ div>*@
        <div class="col-md-1"></div>
    </div>
</div>
@if (ViewBag.PasswordChangeSuccess != null && ViewBag.PasswordChangeSuccess)
{
    <script>
        // Show sweet alert
        Swal.fire({
            title: 'Password Changed Successfully!',
            icon: 'success',
            showConfirmButton: false,
            timer: 2000 // Close after 2 seconds
        });
    </script>
}


