
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
    Layout = "~/Views/Shared/_NewDashLayout.cshtml";

}
<title>DashBoard</title>
    <div class="header">
        <div class="left">
            <h1>Dashboard</h1>
         @*    <ul class="breadcrumb">
                <li>
                    <a href="#">
                        Analytics
                    </a>
                </li>
                /
                <li><a href="#" class="active">Shop</a></li>
            </ul> *@
        </div>
       @*  <a href="#" class="report">
            <i class='bx bx-cloud-download'></i>
            <span>Download CSV</span>
        </a> *@
    </div>

    <!-- Insights -->
    <ul class="insights">
        <li>
            @* <i class='bx bx-calendar-check'></i> *@
        @* <i class="fa-solid fa-users"></i> *@
        <i class='bx bxs-user'></i>
            <span class="info">
                <h3>
                @ViewBag.UsersCount
                </h3>
                <p>Users</p>
            </span>
        </li>
        <li>
            <i class='bx bx-show-alt'></i>
            <span class="info">
                <h3>
                  @ViewBag.count
                </h3>
                <p>Site Visit</p>
            </span>
        </li>
        <li>
            @* <i class='bx bx-line-chart'></i> *@
        @* <i class="fa-solid fa-book"></i> *@
        <i class='bx bxs-book'></i>
            <span class="info">
                <h3>
                @ViewBag.BooksCount
                </h3>
                <p>Books</p>
            </span>
        </li>
        <li>
            @* <i class='bx bx-dollar-circle'></i> *@
        <i class='bx bx-line-chart'></i>

    
            <span class="info">
                <h3>
                @ViewBag.OrdersCount
                </h3>
                <p>Orders</p>
            </span>
        </li>
    </ul>
    <!-- End of Insights -->

    <div class="bottom-data">
        <div class="orders">
            <div class="header">
                <i class='bx bx-receipt'></i>
                <h3>Recent Orders</h3>
                <i class='bx bx-filter'></i>
                <i class='bx bx-search'></i>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Order Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        <img src="~/images/NewDash/profile-1.jpg">
                            <p>John Doe</p>
                        </td>
                        <td>14-08-2023</td>
                        <td><span class="status completed">Completed</span></td>
                    </tr>
                    <tr>
                        <td>
                        <img src="~/images/NewDash/profile-1.jpg">
                            <p>John Doe</p>
                        </td>
                        <td>14-08-2023</td>
                        <td><span class="status pending">Pending</span></td>
                    </tr>
                    <tr>
                        <td>
                        <img src="~/images/NewDash/profile-1.jpg">
                            <p>John Doe</p>
                        </td>
                        <td>14-08-2023</td>
                        <td><span class="status process">Processing</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Reminders -->
     @*    <div class="reminders">
            <div class="header">
                <i class='bx bx-note'></i>
                <h3>Remiders</h3>
                <i class='bx bx-filter'></i>
                <i class='bx bx-plus'></i>
            </div>
            <ul class="task-list">
                <li class="completed">
                    <div class="task-title">
                        <i class='bx bx-check-circle'></i>
                        <p>Start Our Meeting</p>
                    </div>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
                <li class="completed">
                    <div class="task-title">
                        <i class='bx bx-check-circle'></i>
                        <p>Analyse Our Site</p>
                    </div>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
                <li class="not-completed">
                    <div class="task-title">
                        <i class='bx bx-x-circle'></i>
                        <p>Play Footbal</p>
                    </div>
                    <i class='bx bx-dots-vertical-rounded'></i>
                </li>
            </ul>
        </div>
 *@
        <!-- End of Reminders-->

    </div>

