
.sticky-header {
    background-color: #212529;
}

    .sticky-header.fixed {
        background-color: #212529;
    }

.menu > li > a {
    color: #eee;
}

.Experts-block {
    padding: 20px;
    background-color: #f8f9fa !important;
}
