
@{
    ViewData["Title"] = "ConfirmationEmailSent";
}





<div class="container-fluid">
    <div class="row justify-content-center align-items-center g-2 mt-5">
        <div class="col-md-4">
            <img width="450" height="450" src="~/images/Mail.png" />
        </div>
        <div class="col-md-6">
            <h1 style="padding:10px">Confirmation Email Sent</h1>
            <h3 style="padding:20px">If Any Account Exists with the Given Email Id, then Email Confirmation Link is Sent.</h3>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
