@{ ViewData["Title"] = "ResetPasswordConfirmation"; }
<div class="container-fluid">
  <div class="row justify-content-center align-items-center g-2 mt-5">
    <div class="col-md-4">
            <img width="450" height="450" src="~/images/check.png" />

    </div>
    <div class="col-md-4">
      <h4>
        Your password is reset. Please click
        <a asp-action="Login" asp-controller="Account">here to login</a>
      </h4>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
