@model Project.ViewModels.ResetPasswordViewModel
@{ ViewData["Title"] =
"ResetPassword"; }

<div class="container-fluid">
  <div class="row justify-content-center align-items-center g-2">
    <div class="col-md-4">
      <img src="~/images/reset-password.png" />
    </div>
    <div class="col-md-4">
      <h2>Reset Password</h2>
      <hr />

      <form asp-action="ResetPassword">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Email" class="form-control" type="hidden" />
        <input asp-for="Token" class="form-control" type="hidden" />
        <div class="form-group">
          <label asp-for="NewPassword" class="control-label"></label>
          <input asp-for="NewPassword" class="form-control" />
          <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="ConfirmPassword" class="control-label"></label>
          <input asp-for="ConfirmPassword" class="form-control" />
          <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
          <input type="submit" value="submit" class="btn btn-primary" />
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
