@{ ViewData["Title"] = "ResendConfirmationEmail"; }

<div class="container-fluid">
  <div class="row justify-content-center align-items-center g-2 mt-5">
    <div class="col-md-4">
      <img width="450" height="450" src="~/images/email.png" />
    </div>
    <div class="col-md-4">
      <h3>@ViewBag.Message</h3>
      <form
        asp-action="ResendConfirmationEmail"
        asp-controller="Account"
        method="post"
      >
        <div class="form-group">
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Enter your email"
            required
          />
        </div>
        <br />
        <div class="form-group">
          <button class="btn btn-primary" type="submit">
            @ViewBag.Message
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
